/* 와이드 pc  */

#content{ width:100%; margin:0 auto; background:rgba(0,0,0,.8); }

#content .jp{ height: 200px; background: #333;}
#content .jp p{text-align: center; font-size: 3em; color: #f00; font-weight: 600; padding-top:60px;}

#content .about{width: 100%;padding-top: 200px; overflow: hidden;}
#content .about h3{text-align: center; font-size: 3.75em; color: #fff;margin-bottom: 30px}

#content .about p{color: #fff;}
#content .about p:nth-child(1){font-size: 1.4em; font-weight: 500; text-align: center; margin-top: 50px;}
#content .about p:nth-child(2){font-size: 1.1em; font-weight: 400; text-align: center; margin:70px auto;
line-height: 1.6em; width: 80%;}
#content .about a{display: block; font-size: 1.5em; font-weight: 500; color: #fff; padding: 20px; 
text-align: center; border-radius: 20px; margin: 0 auto; width: 100px; background: rgba(206, 5, 5, 0.685);
transition: all .5s ease;}
#content .about a:hover{background: #f00; color: #fff;}

#content .about_inner{width: 80%; margin: 0 10%;}
#content .about .con1{display: flex; justify-content: space-between;}
#content .about .con1 img{border: 2px solid #fff;}

#content .about .con2{display: grid; justify-content: space-between; margin: 0 7%;
grid-template-columns: repeat(3,1fr); grid-column-gap:20px; padding-top: 100px; padding-bottom: 200px;}
#content .about .con2 li{overflow: hidden; border-radius: 20px; border: 2px solid rgba(206, 5, 5, 0.685); 
border-radius: 20px; }
#content .about .con2 li img{transition: all .3s ease; object-fit: cover; object-position: center;}
#content .about .con2 li:hover img{transform: scale(1.1);}



#content .character{background: url(../images/charaterback.jpg) no-repeat center;
background-size: cover; position: relative;}
#content .character_inner{width: 80%; margin: 0 10%; padding-top: 100px;}
#content .character img{width: 100%;}
#content .character h3{font-size: 3.75em; color: #fff;}
#content .character p{font-size: 1.75em; color: #fff;margin-top: 30px;}
#content .character a{display: block; font-size: 1.5em; color: #fff; font-weight: 500; padding: 10px;
 text-align: center; border: 2px solid #fff; width: 100px; border-radius: 30px; float: right; 
 transition: all .5s ease; position: absolute; right: 220px; top: 100px;}
#content .character a:hover{background: #fff; color: #333;}

#content .character .grid{display: grid; grid-template-columns: repeat(4,1fr);
	grid-gap:70px 30px ;   padding-top: 150px; padding-bottom: 200px;}


/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.effect-apollo:hover {
	background: rgba(255,0,0,.6);
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo dd {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo dt {
	text-align: center;
	font-size: 1.5em; font-weight: bold; margin-top: 50px; transition: all .5s;
}
figure.effect-apollo:hover dt {
	margin-top: 80px;
}

figure.effect-apollo:hover img {
	opacity: 0.8;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover dd {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

#content .trailer h3{font-size: 3.75em; color: #fff; padding-top: 100px; margin-bottom: 100px;}
#content .trailer .trailer_inner{width: 80%; margin: 0 10%;}

#content .trailer .con_top{margin-bottom: 80px; display: flex; justify-content: center; align-items: center;}
#content .trailer .con_top a{display: block; width: 45%; margin-right:5%; border-radius: 20px; position: relative;
border: 2px solid #d2d2d2; box-sizing: border-box; overflow: hidden; }
#content .trailer .con_top a img{width: 100%;transition: all .3s ease;}
#content .trailer .con_top a img:hover{transform: scale(1.1);}
#content .trailer .con_top a:hover i{color: #f00; opacity: 1;}
#content .trailer .con_top i{color: #f00; opacity: .5; font-size: 4em; position: absolute; left: 50%; top: 50%;
transition: all .3s ease;transform: translate(-50%,-50%);}
#content .trailer .con_top p{width: 45%; margin-right: 5%; font-size: 1.5em; overflow: hidden; color: #fff;}

#content .trailer .con_bottom{column-gap: 100px; display: flex; align-items: flex-end; padding-bottom: 150px;}
#content .trailer .con_bottom a{display: block;  border-radius: 20px; overflow: hidden; position: relative;}
#content .trailer .con_bottom a img{width: 100%; transition: all .3s}
#content .trailer .con_bottom a i{color: #f00; opacity: .5; font-size: 4em; position: absolute; left: 50%; top: 50%;
   transition: all .3s ease;transform: translate(-50%,-50%);}
#content .trailer .con_bottom a:hover img{transform: scale(1.1);}
#content .trailer .con_bottom a:hover i{color: #f00; opacity: 1;}

#content .gallery{width: 80%; padding: 0 10%; padding-top: 130px; padding-bottom: 250px;
   background: url(../images/galleryback.png) no-repeat center; background-size: cover;}   
#content .gallery h3{font-size: 3.75em; color: #fff; padding-top: 100px; margin-bottom: 100px;}

#content .gallery_grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-areas: 
   'a a b c'
   'a a d d'
   'e e g g'
   'f f g g';
   gap: 10px;
}

#content .gallery .a{grid-area: a;}
#content .gallery .b{grid-area: b;}
#content .gallery .c{grid-area: c;}
#content .gallery .d{grid-area: d;}
#content .gallery .e{grid-area: e;}
#content .gallery .f{grid-area: f;}
#content .gallery .g{grid-area: g;}

#content .gallery li{position: relative; border: 2px solid #fff;
border-radius: 20px; overflow: hidden;}
#content .gallery_grid li p{position: absolute; bottom: 0; width: 100%; padding: 10px 0;
text-align: center; background: rgba(0,0,0,.6); font-size: 1.25em; font-weight: 500; opacity: 0;
transition: all .5s ease;}
#content .gallery_grid li:hover p{opacity: 1; color: #fff;}
#content .gallery li img{object-fit: cover; object-position: center; width: 100%; height: 100%;
transition: all .5s ease;}
#content .gallery_grid li:hover img{transform: scale(1.1); filter: grayscale(1);}


@media screen and (max-width:1535px) {
	#content .about .con1 li:nth-child(3){display: none;}
}


/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {
	#content{width: 96%; margin: 0 2%;}
	#content .about .con1 img{display: none;}
	#content .about .con2{margin: 0; }
	#content .about .con2 img{width: 100%;}
	/* #content .about .con2 li img{ object-fit: cover;object-position: center; width: 100%; height: 100%;} */
	#content .character h3{text-align: center;}
	#content .character p{text-align: justify;}
	#content .character a{right: 20%; margin-right:-62px ; top: 115px;}
	#content .character li:nth-child(7){display: none;}
	#content .character li:nth-child(8){display: none;}
	#content .character .grid{grid-template-columns: repeat(3,1fr);}
	#content .character dd{display: none;}

	.grid figure figcaption {
		position: static;
		width: 100%;
		height: 100%;
	}

	#content .trailer h3{text-align: center;}
	#content .trailer .con_top {display: block;}
	#content .trailer .con_top a{width: 100%;}
	#content .trailer .con_top p{width: 100%; margin-top: 30px; text-align: justify;}

	#content .trailer .con_bottom li:nth-child(3){display: none;}

	#content .gallery_grid{  grid-template-areas: 
		'a a b c'
		'a a d d'
		'f f f f';}
	#content .gallery .e{display: none;}
	#content .gallery .g{display: none;}


}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	
}

/* 모바일 */
@media screen and (max-width:640px) {
	#content .about .con1 li:nth-child(1) img{display: block; float: none;}
	#content .about .con2 {display: none;}
	#content .about{padding-top: 100px;}
	#content .about .con1{display: block; padding-bottom: 50px;}
	#content .about .con1 img{margin: 0 auto; margin-top: 50px;}
	#content .about .con1 p:nth-of-type(2){margin-top: 50px;}
	#content .about .con1 a{width: 90%; border-radius: 0;}

	#content .character_inner a{left: 50%; margin-left: -62px; top: 180px; font-size: 1.1em; padding: 5px;}
	#content .character_inner p{font-size: 1.2em; text-align: center; position: relative; top: 30px;}

	#content .character li:nth-child(5){display: none;}
	#content .character li:nth-child(6){display: none;}
	#content .character .grid{grid-template-columns: repeat(2,1fr); padding-top:50px ;}

	#content .trailer h3{margin-bottom: 70px;}
	#content .trailer .con_top p{text-align: center; font-size: 1.3em;}
	#content .trailer .con_bottom {display: none;}

	#content .gallery h3{padding-top: 0;}

	#content .gallery_grid{  grid-template-areas: 
		'a a a a'
		'a a a a'
		'g g g g'
		'g g g g';}
	#content .gallery .g{display: block;}

	#content .gallery .b{display: none;}	
	#content .gallery .c{display: none;}
	#content .gallery .d{display: none;}
	#content .gallery .f{display: none;}
}



