#content h2{color: #fff;  text-shadow: 5px 5px 1px  rgba(0,0,0,.4);}

/* popupBox */
#content .subPop{width: 100%; background: rgba(0,0,0,.8); padding-top: 50px; padding-bottom: 50px;
    margin-bottom: 100px; margin-top: 70px;}
#content .subPop h3{font-size: 5em; font-weight: 700; text-align: center; color: rgb(173, 20, 20);
    text-shadow: 3px 5px 5px #fff; margin-bottom: 20px;}
#content .subPop p{font-size: 1.5em; font-weight: 400; text-align: center; color: #fff; width: 70%;
    margin: 0 auto;}

#content .sub1{padding: 100px 15%; position: relative;}
#content .subPop_menu{display: grid; grid-template-columns: repeat(2,1fr); grid-gap:20px;}
#content .subPop_menu li{overflow: hidden; transition: all .5s ease;}
#content .subPop_menu li .openPop{display: block; padding: 5%;}

#content .subPop_menu li .video{position: relative; margin-bottom: 20px;}
#content .subPop_menu li .video img{object-fit: cover; width: 100%; height: 100%; object-position: 50% 50%;
filter: grayscale(0); transition: all .5s ease;}
#content .subPop_menu li .video span{font-size: 5em; position: absolute; left: 43%; top: 43%;
color: rgb(223, 26, 26,.8); transition: all .5s ease;}

#content .subPop_menu li dl{padding: 5% 0 5% 5%; text-align: center;}
#content .subPop_menu li dt{font-size: 2em; font-weight:700; color: rgb(173,20,20); margin-bottom: 20px;
transition: all .3s ease;}
#content .subPop_menu li dd{font-size: 1.2em; color: #fff;}

#content .subPop .subPop_menu li:hover{border: 3px solid #f00; background: #333;
    border-radius: 4% 93% 6% 95% / 94% 4% 92% 5%;}
#content .subPop .subPop_menu li:hover .video span{color: rgb(255,255,255,1); }
#content .subPop .subPop_menu li:hover .video img{filter: grayscale(1);}
#content .subPop .subPop_menu li:hover dt{color: #fff;}

#content .subPop .modalBox{display: none; position: fixed; left: 0; top: 0; z-index: 50;
width: 100%; height: 100%; background: rgba(0,0,0,.8);}
#content .subPop .sub_popup{position: fixed; left: 50%; top: 50%; width: 60%; background: #333;
box-shadow: 5px 5px 20px 3px rgba(0,0,0,.4); z-index: 60; padding: 50px 30px 30px; overflow: hidden;}

/* 변신 */

@media screen and (max-width:1280px) {
    #content .subPop_menu li .video span{font-size: 4em; position: absolute; left: 42%; top: 43%;}

    #content .subPop_menu li dt{font-size: 1.7em; font-weight:700;}
    #content .subPop_menu li dd{font-size: 1em;}
}

      /* 테블릿 */
@media screen and (max-width:1024px) {
    #content .subPop_menu li .video span{font-size: 2.9em; position: absolute; left: 42%; top: 43%;}

    #content .subPop_menu li dt{font-size: 1.4em; font-weight:700;}
    #content .subPop_menu li dd{font-size: 1em;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    #content .subPop_menu{display: block;}

    #content .subPop_menu li .video span{font-size: 4em; position: absolute; left: 42%; top: 43%;}
    #content .subPop_menu li dt{font-size: 2em; font-weight:700;}
    #content .subPop_menu li dd{font-size: 1.3em;}
}

/* 모바일 */
@media screen and (max-width:640px) {
    #content .subPop_menu li .video span{font-size: 3em; position: absolute; left: 44%; top: 44%;}
    #content .subPop_menu li dt{font-size: 1.7em; font-weight:700;}
    #content .subPop_menu li dd{font-size: 1em;}

}