#content h2{color: #fff;  text-shadow: 5px 5px 1px  rgba(0,0,0,.4);  }

/* popupBox */
#content .gallery{width: 100%; background: rgba(0,0,0,.8); padding-top: 50px; padding-bottom: 50px;
    margin-bottom: 100px; margin-top: 70px;}
#content .gallery h3{font-size: 6em; font-weight: 700; text-align: center; color: rgb(173, 20, 20);
    text-shadow: 3px 5px 5px #fff; margin-bottom: 100px;}
#content .gallery p:nth-of-type(1){font-size: 3em; font-weight: 500; text-align: center; color: #fff; width: 70%;
    margin: 0 auto; padding-bottom: 30px;}
#content .gallery p:nth-of-type(2){font-size: 2em; text-align: center; color: #fff; width: 70%; margin: 0 auto;}

.wrapper {
    background: rgba(0,0,0,.8);
    width: 100%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 100px 20px;
    column-count: 4;
    column-gap: 1.5em;
    font-size: .85em;
}

.masonry li {
    display: inline-block;
    margin: 0 0 1.5em;
    width: 100%;
    transition: all .5s ease;
}
.masonry li:hover{transform: scale(1.05);}
.masonry li img{width:100%; filter: grayscale(0);transition: all .5s ease;}
.masonry li:hover img{filter: grayscale(1);}
.masonry li span{font-size: 1.8em; color: #fff; font-weight: 400; text-align: center; display: block;
margin: 0 auto; padding: 5% 2% 2%; margin-bottom: 20px; transition: all .5s ease;}
.masonry li:hover span{color: rgb(151, 15, 15); font-weight: 500;}

     

@media only screen and (max-width: 1280px) {
    .masonry {
        column-count: 4;
    }
}  

 @media only screen and (max-width: 1024px) {
    .masonry {
      
        column-count: 3;
    }
    #content .gallery h3{font-size: 5em; margin-bottom: 50px;}
    #content .gallery p:nth-of-type(1){font-size: 2em;}
    #content .gallery p:nth-of-type(2){font-size: 1.5em;}
}
     
@media only screen and (max-width: 768px) {
    .masonry {
     
        column-count: 2;
    }
    #content .gallery p:nth-of-type(1){font-size: 1.7em;}
    #content .gallery p:nth-of-type(2){font-size: 1.5em;}
}
     
@media only screen and (max-width: 640px) {
    .masonry {
  
        column-count: 1;
    }
    #content .gallery p:nth-of-type(1){font-size: 1.5em;}
    #content .gallery p:nth-of-type(2){font-size: 1.2em;}
}
     
     
     
/* 최소의 사이즈는 320px 고정 */
@media screen and (max-width:480px) {
    .masonry {
  
        column-count: 1;
    }
	.wrapper { min-width:320px; }
}